<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-8 col-md-8 col-sm-12 col-12 mt-2">
            <h1 class="fs-4 mb-5 mt-4 text-end">Administración de permisos</h1>
            <h2 class="fs-4 mb-5 mt-4">Usuario : {{ permisosUsuarioLista[0]["NOMBRES"] | titlecase }} {{
                permisosUsuarioLista[0]["APELLIDOS"] | titlecase }}
            </h2>
            <!-- <button class="btn btn-primary fs-4 mb-5 mt-4">Nuevo permiso</button> -->
            <div class="container">
                <div class="table-responsive custom-table-responsive shadow">
                    <table class="table custom-table text-center table-hover">
                        <thead>
                            <tr>
                                <th scope="col">ID Registro</th>
                                <th scope="col">Salon</th>
                                <th scope="col">Permiso</th>
                                <th scope="col">Editar</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            <ng-container *ngFor="let permiso of permisosUsuarioLista">
                                <tr scope="row ">
                                    <td class="fs-4">{{ permiso.ID_PERMISO }}</td>
                                    <td class="fs-5">{{ permiso.ID_SALON }}</td>
                                    <td class="fs-5" *ngIf="permiso.PERMISO == 1">Si</td>
                                    <td class="fs-5" *ngIf="permiso.PERMISO == 0">No</td>
                                    <td>
                                        <button class="btn btn-success w-50 shadow"
                                            (click)="editarPermisoUsuario(permiso.ID_PERMISO)">
                                            Ver
                                        </button>
                                    </td>
                                </tr>
                                <tr class="spacer">
                                    <td colspan="100"></td>
                                </tr>
                                <tr class="spacer">
                                    <td colspan="100"></td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>