<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-8 col-md-8 col-sm-12 col-12 mt-2">
            <h1 class="fs-4 mb-5 mt-4 text-end">Administración de permisos</h1>
            <!-- <button class="btn btn-primary fs-4 mb-5 mt-4" (click)="nuevoPermiso()">Nuevo permiso</button> -->
            <div class="container">
                <div class="table-responsive custom-table-responsive shadow">
                    <table class="table custom-table text-center table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Id Registro</th>
                                <th scope="col">Nombes</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Permisos</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            <ng-container *ngFor="let permisos of permisosLista">
                                <tr scope="row ">
                                    <td class="fs-4">
                                        {{ permisos.ID_PERMISO }}
                                    </td>
                                    <td class="fs-5">{{ permisos.NOMBRES | titlecase }}</td>
                                    <td class="fs-5">
                                        {{ permisos.APELLIDOS | titlecase }}
                                        <!-- <small class="d-block">Far far away, behind the word mountains</small> -->
                                    </td>
                                    <td>
                                        <button class="btn btn-success w-50 shadow"
                                            (click)="verPermisosUsuario(permisos.ID_USUARIO)">
                                            Ver
                                        </button>
                                    </td>
                                </tr>
                                <tr class="spacer">
                                    <td colspan="100"></td>
                                </tr>
                                <tr class="spacer">
                                    <td colspan="100"></td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>