<app-navbar></app-navbar>

<div class="container mb-1">
  <h1 id="user" *ngIf="api.isLogged | async">
    Bienvenido a CICAA!
  </h1>

    <div class="row">
        <h1 class="text-center fs-5 mb-5" >Dashboard</h1>

        <div class="chart-container col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12 mb-3">
            <canvas id="piChart" width="600" height="100"></canvas>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12 mt-5 mb-3">

            <canvas id="lineChart" width="600" height="300"></canvas>
        </div>
        <!-- <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12  mb-3">

        </div> -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
           <h1 class="fs-4 mb-5 mt-4">Lista de asistencias</h1>
            <table class="table table-hover border rounded border-primary  p-3 shadow-lg  mb-5 bg-body">
                <thead class="bg-info" >
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Salon</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Apellido</th>
                      <th scope="col">Rol</th>
                      <th scope="col">fecha</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>11</td>
                      <td>Lux</td>
                      <td>Salguedo</td>
                      <td>Estudiante</td>
                      <td>2/12/24</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>12</td>
                      <td>Lux</td>
                      <td>Bustamante</td>
                      <td>Estudiante</td>
                      <td>12/09/22</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>14</td>
                        <td>Yeiris</td>
                        <td>Martinez</td>
                        <td>Docente</td>
                        <td>2/12/24</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>12</td>
                        <td>Lux</td>
                        <td>Castrillon</td>
                        <td>Estudiante</td>
                        <td>12/09/22</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>11</td>
                        <td>Jose</td>
                        <td>Castrillon</td>
                        <td>Estudiante</td>
                        <td>2/12/24</td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>12</td>
                        <td>Roxana</td>
                        <td>Perez</td>
                        <td>Estudiante</td>
                        <td>12/09/22</td>
                      </tr>
                      <tr>
                        <th scope="row">7</th>
                        <td>11</td>
                        <td>Lux</td>
                        <td>Salguedo</td>
                        <td>Estudiante</td>
                        <td>2/12/24</td>
                      </tr>
                      <tr>
                        <th scope="row">8</th>
                        <td>12</td>
                        <td>Lux</td>
                        <td>Bustamante</td>
                        <td>Estudiante</td>
                        <td>12/09/22</td>
                      </tr><tr>
                        <th scope="row">9</th>
                        <td>11</td>
                        <td>Lux</td>
                        <td>Salguedo</td>
                        <td>Estudiante</td>
                        <td>2/12/24</td>
                      </tr>
                      <tr>
                        <th scope="row">10</th>
                        <td>12</td>
                        <td>Lux</td>
                        <td>Bustamante</td>
                        <td>Estudiante</td>
                        <td>12/09/22</td>
                      </tr>

                  </tbody>
            </table>
           
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<app-footer></app-footer>