<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <h1 class="fs-5 text-end mb-3" >Datos personales</h1>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
            <img src="https://2.bp.blogspot.com/-P0FrHCBLyFk/W_4pzlpkYSI/AAAAAAAAS68/rOKPuEcKyeMenXh_rTsocxC7Bg3XpUwzwCLcBGAs/s1600/Mia%2BKhalifa%2Bsexy%2Bbikini%2Bphotos%2Bcleavage%2Bshow%2B%252827%2529.jpg" alt=""  class="img-fluid perfil shadow p-3 mb-5 bg-body rounded" srcset="">
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 mb-3">
            
            <div class="acciones text-end">
                <button class="btn btn-warning" disabled="disabled">Editar</button>
            </div>
            <div class="informacion ms-5">
                <p class="fs-3" >Sarah Joe Chamoun</p>
                <b>Cargo: </b><p class="" >Inginería Telematica</p>
                <b>Documento: </b><p class="" >1023723862</p>
                <b>Dirección: </b><p class="" >CALLE 61 9 38 AP 1201, BOGOTA, BOGOTA</p>
                <b>Correo: </b><p class="" >miakalifa.info@hotmai.com</p>
                <b>Telefono: </b><p class="" >311 3242 322</p>
                
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>